
// Tipography
$mono   : 'PT Mono', monospace;
$roboto : 'Roboto', sans-serif;


// Font Weight
$roboto-light       : 300;
$mono-regular       : 400;



// Font Sizes
$xxx-large  : 7rem;
$xx-large   : 4rem;
$x-large    : 3rem;
$large      : 1.8rem;
$medium     : 1.6rem;
